{% load get_leader %}
{% load is_leader %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'task1/title.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
</head>
<body>
    <table>
        <tr>
            <th>
                {{ comparing_names.0 }}
            </th>
            <th>
                {{ comparing_names.1 | upper }}
            </th>
            <th>
                {{ comparing_names.2 | upper }}
            </th>
            <th>
                leader
            </th>
        </tr>
        {% for list in data.values %}
        <tr>
            <td>
                {{ list.0 }}
            </td>
            <td class="{% is_leader comparing_names.1 comparing_names.2 list.0 1 %}">
                {{ list.1 | default_if_none:"0" | floatformat:"-1" }}
            </td>
            <td class="{% is_leader comparing_names.2 comparing_names.1 list.0 0 %}">
                {{ list.2 | default_if_none:"0" | floatformat:"-1" }}
            </td>
            <td> {% get_leader comparing_names.1 comparing_names.2 list.0 %} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>