<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }}</title>
    <style>
        td {
            vertical-align: top;
        }
        table, td, th {
             border: 1px solid black
        }
    </style>
</head>
<body>
    <h1>
        <a href="/shops/{{ object.id }}/more">{{ object.name }}</a>
        <a href="/departments/{{ object.id }}/create">add departments</a>
    </h1>
    <p>
        <h3>description:</h3>
        {% if object.address is not none %}
            address: {{ object.address }} <br>
        {% endif %}
        staff amount: {{ object.staff_amount }} <br>
    </p>


    {% for department in object.departments.all.prefetch_related %}
        <table>
            <tr>
                <th colspan="4">{{ department.sphere }}</th>
                <td>
                    <a href="/items/{{ department.id }}/create">add item</a>
                    <a href="/departments/{{ department.id }}/delete">delete</a>
                    <a href="/departments/{{ department.id }}/edit">edit</a>
                </td>
            </tr>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th>comments</th>
            </tr>
            {% for item in department.items.all.prefetch_related %}
                <tr {% if item.is_sold %} style="background-color: lightgray" {% endif %}>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    <td>
                        {{ item.price }}
                    </td>
                    <td>
                        {% for comment in item.comments %}
                            {{ comment }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/items/{{ item.id }}/delete">delete</a>
                        <a href="/items/{{ item.id }}/edit">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% endfor %}
</body>
</html>