{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'task1/title.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
</head>
<body>

<table>
    <tr>
        <th>
            field
        </th>
        <th>
            value
        </th>
    </tr>
    <tr>
        <td>name</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <td>surname</td>
        <td>{{ object.surname }}</td>
    </tr>
    <tr>
        <td>day of birth</td>
        <td>{{ object.day_of_birth }}</td>
    </tr>
    <tr>
        <td><a href="/note/student/{{ student.id }}/create">notes</a></td>
        <td>
            <table>
                <tr>
                    <th>teacher</th>
                    <th>day</th>
                    <th>note</th>
                </tr>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.teacher }}</td>
                        <td>{{ note.day | default_if_none:'uknown day'}}</td>
                        <td>{{ note.note }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

</body>
</html>