{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'task1/title.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <select name="shop">
            {% for shop in shops %}
                <option value="{{ shop.id }}">
                    {{ shop }}
                </option>
            {% endfor %}
        </select>

        <input type="submit" value="open">
    </form>
</body>
</html>